<%- include ('partials/header'); -%>
 <div class="mycontainer">
    <div class="heading">
         <h2>Upload file here!</h2>
          <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <h1 class="my-4">Let's upload some stuff</h1>
                    <form action="/files/upload" method="POST" enctype="multipart/form-data" id="file-upload-form" class="uploader">
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" name="file" id="file1" onchange="readSingleFile(this.files)">
                            <input type=text name="filename"  class="custom-file-label" id="file-label">
                        </div>
                        <input type="submit" value="Submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    function readSingleFile(e) {
        const name = e[0].name;
        console.log(name);
        document.getElementById("file-label").value = name;
    }
</script>
<%- include ('partials/footer'); -%>