<%- include ('partials/header'); -%>
<div class="mybg">
  <div class="mymain">
    <div class="ui middle aligned center aligned grid">
      <div class="column">

         <h2>Upload file here!</h2>

          <!-- Upload  -->
          <form id="file-upload-form" class="uploader">
            <input id="file-upload" type="file" name="fileUpload" accept="image/*" />

            <label for="file-upload" id="file-drag">
              <div id="start">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div>Select a file or drag here</div>
              </div>
              <div id="response" class="hidden">
                <div id="messages"></div>
                <progress class="progress" id="file-progress" value="0">
                  <span>0</span>%
                </progress>
              </div>
            </label>
          </form>
      </div>
    </div>
  </div>
</div>
<%- include ('partials/footer'); -%>